antonchuprun.site, www.antonchuprun.site {
    encode gzip zstd

    handle /api/* {
        reverse_proxy backend:8000
    }

    handle {
        root * /srv
        file_server
        try_files {path} {path}/ /404.html
    }
}

:80 {
    encode gzip zstd

    handle /api/* {
        reverse_proxy backend:8000
    }

    handle {
        root * /srv
        file_server
        try_files {path} {path}/ /404.html
    }
}
